* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Logo Animation */
#logo {
  width: 90%;
  animation: fill 0.5s ease forwards 2.6s;
}

#logo path:nth-child(2) {
  stroke-dasharray: 490px;
  stroke-dashoffset: 490px;
  animation: line-anim 3s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 731px;
  stroke-dashoffset: 731px;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 907px;
  stroke-dashoffset: 907px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 900px;
  stroke-dashoffset: 900px;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 702px;
  stroke-dashoffset: 702px;
  animation: line-anim 1.8s ease forwards 1.6s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
